.collapseContent {
  box-sizing:border-box;
  overflow: hidden;
  transition: transform 1s;
  padding: 2em;
  color: var(--color-white);
  margin-bottom: 15px;
  max-width: 100%;
  margin-left: 2rem;
}

.collapse .button {
  display: flex;
  width: 100%;

  font-size: 1.4rem;
  color: var(--color-white);
  cursor: pointer;
  text-align: left;
  margin-top:15px;
  line-height: 2;
}

@media screen and (max-width: 600px) { 
  .collapse .button{
    align-items: center;
  }

  .collapse svg{
    min-width: 1.125rem;
  }
}


