.questions {
  background-image: url(../../Assets/texturaescuro.png);
  padding-bottom: 4rem;
}

.questions h3{
  color: var(--color-white);
  font-size: 3.2rem;

  margin-bottom: 1rem;
  text-align: center;
}



.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions img{
  width: 100%;
  max-width: 500px;
}