.support{
  background-image: url(../../Assets/texturabranco.png);
  padding: 4rem 0;

  display: flex;
}

.support h3{
  color: var(--color-dark);
  font-size: 3.2rem;

  margin-bottom: 1rem;
}

.support p{
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper img{
  width: 100%;
  max-width: 250px;

  margin-right: 2rem;
}

.wrapper a{
  text-transform: uppercase;
  padding: 1.125rem 2rem;
  background-color:#CFAB75;
  border-radius: 2px;
  text-decoration: none;
  color: #343439;
  transition: all 0.3s ease 0s;

  margin: 1.3rem 0;
}

.wrapper a:hover {
  background-color: var(--color-dark);
  box-shadow: 0px 15px 20px rgba(37, 69, 40, 0.4);
  color: var(--color-white);
  transform: translateY(-7px);
 }

@media screen and (max-width: 560px) { 
  .wrapper img{
    display: none;
  }
}