.testimonial{
  background-image: url(../../Assets/texturabranco.png);
  padding-bottom: 4rem;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title img{
  width: 100%;
  max-width: 600px;

}


@media screen and (max-width: 960px) { 
  .banner li{
    flex-direction: column;
  }
}