.banner{
  background-image: url(../../Assets/texturabranco.png);
  padding: 4rem 0;
}
.banner li{
  display: flex;
  justify-content: space-between;
}

.banner ul{
  box-sizing: border-box;
  margin: 1rem;
  padding: 4rem 1rem;

  border: 2px solid  var(--color-dark);
  text-align: center;
  line-height: 1.3;
  font-size: 1.3rem;
}

@media screen and (max-width: 960px) { 
  .banner li{
    flex-direction: column;
  }
}